.span_1_of_4{
    height:auto;
    margin-bottom:0px;
    border-top-style:solid;
    border-top-color:#00cccc;
    border-top-width:1px;
    padding-top:8px;
    padding-bottom:13px;
    
}

.span_3_of_4{
    height:auto;
    margin-bottom:0px;
    float:none;
    margin-bottom:61px;
}

.foto_top_focus{
height:auto;
background-position: top center;
font-size:19px;
line-height:27px;
margin-bottom:0px;
}

h4{
color:#333;
text-transform:none;
font-size:13px;}



