@media all and (max-width: 480px) {
    
    .col { margin: 2% 0 2% 0%;}

	.span_4_of_4 {
		width: 50%; 
		overflow:hidden;}
	.span_3_of_4 {
		width: 50%; 
		overflow:hidden;}
		
	.span_2_of_4 {
		width: 50%; 
		overflow:hidden;}
    
.project {
overflow:hidden;
width:48%;
float:left;
margin-left:2%;
height:120px;}
    
.highlight{
    overflow:hidden;
width:98%;
float:left;
    height:199px;}
        
.foto_top{height:120px;}
    
    .highlight .foto_top{
        height:199px;
    }
    
.content_bottom{
 visibility:hidden;}

.content_bottom h6{
    visibility:collapse;}
    
.content_bottom  h3
{visibility:collapse;}

    .section {
	clear: both;
	padding: 0px;
	margin: 0px;
        
}

    .group:before,
.group:after {
	content:"";
	display:block;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

    
}
@media all and (min-width: 480px) {
    

}
@media all and (min-width: 600px) {}
@media all and (min-width: 768px) {}
@media all and (min-width: 992px) {
    
.span_4_of_4 {
width: 100%; 
height:400px;}

.span_3_of_4 {
width: 74.6%; 
height:400px;}

.span_2_of_4 {
width: 49.2%; 
height:400px;}

.project {
width: 23.8%; 
height:auto;}
    
.foto_top{height:199px;}
    
    .content_bottom{height:29px;}
    

    
}




@media all and (min-width: 1382px) {}

