@media only screen and (max-width: 480px) {



.headernav {
    margin-bottom: 0px;
}

h7 {
font-family:merriweather;
font-style: italic;
}

.test{
padding-top:200px;
border-bottom:solid 1px;}

.discipline{
display:none;
margin-top:100px;}

.span_1_of_4 {
height:auto;
width:100%; 
padding-bottom:20px;
    border-top-width:0px;}



	
.span_3_of_4 {
	width: 100%; 
	height:auto;
	overflow:hidden;}

.foto_top{
border-top-width:0px;
border-top-style:none;}
	
	
.intro{
	width: 100%; 
}

.span_3_of_4 img{
margin-top:20px
margin-bottom:10px;
width:100%;
height:auto; }
	
.span_3_of_4 h1{
font-family:merriweather;
font-size:21px;
line-height:29px;
font-weight:900;
padding-bottom:8px;
}

.span_3_of_4 h2{
font-family:merriweather;
font-size:18px;
line-height:21px;
font-weight:100;
color:#763;
padding-top:0px;
}

.span_3_of_4 h3{
font-family:merriweather;
font-size:15px;
line-height:18px;
font-weight:100;
color:#000;
}

.span_3_of_4 a{
background-color:#0CC;
}

}


@media only screen and (min-width: 480px) {
    
    .foto_top{
border-top-width:0px;
border-top-style:none;}

.test{
padding-top:150px;
border-bottom:solid 1px;}

.discipline{
display:none;
margin-top:100px;}

.span_1_of_4 {
height:auto;
width:100%; 
padding-bottom:20px;
border-top-style:none;}

	
.span_3_of_4 {
	width: 100%; 
	height:auto;
	overflow:hidden;}
	
	
.intro{
	width: 100%; 
}

.span_3_of_4 img{
margin-top:20px
margin-bottom:10px;
width:100%;
height:auto; }
	
.span_3_of_4 h1{
font-family:merriweather;
font-size:21px;
line-height:29px;
font-weight:900;
padding-bottom:8px;
}

.span_3_of_4 h2{
font-family:merriweather;
font-size:18px;
line-height:21px;
font-weight:100;
color:#763;
padding-top:0px;
    text-transform:none;
}

.span_3_of_4 h3{
font-family:merriweather;
font-size:15px;
line-height:18px;
font-weight:100;
color:#000;
}


.span_3_of_4 a{
background-color:#0CC;
}

}

@media only screen and (min-width: 600px) {
.discipline{
display:none;}
}

@media only screen and (min-width: 768px) {
.discipline{
display:none;}
}

@media only screen and (min-width: 992px) {

.test{
padding-top:150px;
border-bottom:solid 1px;}

.span_1_of_4 {
height:auto;
width: 23.8%;
    }
    
    .span_1_of_4 p {
 padding-top:13px;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:black;
        font-size:14px;
        line-height:19.5px;

    }
    

    

.discipline{
margin-top:100px;
display:initial;
font-style:normal;
border-top-style:none;
    padding-top:0px}

	
.span_3_of_4 {
	width: 74.6%; 
	height:auto;
	overflow:hidden;}
	
	
.intro{
	width: 64.6%; 
padding-right:10%;
}

.span_3_of_4 img{
margin-top:20px
margin-bottom:10px;
width:100%;
height:auto; }
	
.span_3_of_4 h1{
font-family:merriweather;
font-size:29px;
line-height:34px;
font-weight:900;
padding-bottom:8px;
}

.span_3_of_4 h2{
font-family:merriweather;
font-size:21px;
line-height:29px;
font-weight:100;
color:#763;
padding-top:0px;
}

.span_3_of_4 h3{
font-family:merriweather;
font-size:18px;
line-height:25px;
font-weight:100;
color:#000;
}

.span_3_of_4 p{
font-family:merriweather;
font-size:18px;
line-height:25px;
font-weight:100;
color:#000;
padding-top:0px;
}

.span_3_of_4 a{
border-bottom:1px dotted;
color:#0CC;
background-color:initial;
}

.span_3_of_4 a:hover{
color:#0CC;
}

h4 {
font-family:verdana;
color:#000;
font-variant: small-caps;}

h7 {
font-family:merriweather;
font-style: italic;
}


.section group test {
    padding-top: 0px;
    border-bottom: 1px solid;
}

